<ion-header>
  <ion-toolbar>
    <ion-title>ListeActualite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let article of articles">
    <ion-img src="{{article.nom}}"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{article.nom}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        {{article.description}}
      </p>
      <ion-button ion-button fill="outline" large (click)="voir(article.id)">Read full article</ion-button>

    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/sarah-avatar.png.jpeg">
      </ion-avatar>
      <h2>Sarah Connor</h2>
      <p>May 12, 1984</p>
    </ion-item>
  
    <img src="assets/img/advance-card-tmntr.jpg">
  
    <ion-card-content>
      <p>I face the unknown future, with a sense of hope. Because if a machine, a Terminator, can learn the value of human life, maybe we can too.</p>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='thumbs-up'></ion-icon>
          30 Likes
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='text'></ion-icon>
          64 Comments
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          30yr ago
        </ion-note>
      </ion-col>
    </ion-row>
  
  </ion-card>
  
  
  <ion-card>
  
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/ian-avatar.png">
      </ion-avatar>
      <h2>Dr. Ian Malcolm</h2>
      <p>June 28, 1990</p>
    </ion-item>
  
    <img src="assets/img/advance-card-jp.jpg">
  
    <ion-card-content>
      <p>Your scientists were so preoccupied with whether or not they could, that they didn't stop to think if they should.</p>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='thumbs-up'></ion-icon>
          46 Likes
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='text'></ion-icon>
          66 Comments
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          2d ago
        </ion-note>
      </ion-col>
    </ion-row>
  
  </ion-card>
</ion-content>
